html{
	margin: 0;
	height: 100%;
	padding: 0;
	background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

body{
	margin: 0;
	margin: 0;
	height: 100%;
	padding: 0;
	background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

		/*scrollbar stuff*/

			::-webkit-scrollbar {
			    width: 0.5%;
			    height: 70%;
			    margin: 0 auto;

			}
			::-webkit-scrollbar-thumb {
			    height: 6px;
			    border: 1px solid rgba(0, 0, 0, 0.9);
			    background-clip: padding-box;
			    -webkit-border-radius: 5px;
			    background-color: rgba(0, 0, 0, 0.5);
			    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
			}

			::-webkit-scrollbar-thumb:hover {
			    height: 6px;
			    background-color: rgba(0, 0, 0, 1);
			    background-clip: padding-box;
			    -webkit-border-radius: 5px;
			    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
			}


			::-webkit-scrollbar-button {
			    width: 0;
			    height: 0;
			    display: none;
			}

			::-webkit-scrollbar-corner {
			    background-color: transparent;
			   }


.MainThreeBoxCont{
	padding-top: 2%;
	width:80%;
	height: 93%;
	float: right;
	position: relative;
	display: inline-block;
	margin-right: 2%;
}

.MessagesBox{
	height: 90%;
	width: 98%;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
	overflow-y: auto;
}




.TextCont{
	text-align: left;
	position: relative;
	display: inline-block;
	height: 10%;
	width: 100%;
}

.MainInputText{
	padding: 1%;
	font-size: 1.5em;
	height: 80%;
	width: 90%;
	display: inline-block;
	position: relative;
	resize: none;
}

#SendIcon{
	  position: absolute;
	  top: 40%;
	  left: 95%;
	  transform: translate(-50%, -50%);
	cursor: pointer;
	color: black;
	transform: scale(3.5,3.5);
	display: inline-block;
	transition: 400ms;
}

#SendIcon:hover{
	color: gray;
	transition: 400ms;
}


.SingleMessage{
	width: 100%;
	position: relative;
	display: inline-block;
	margin-top: 0.5%;
	bottom: 0;	
	font-size: 1.4em;
}

.MessageContOwner{
	max-width: 50%;
	padding: 1%;
	background-color: beige;
	border-radius: 1em 1em 0em 1em;
	float: right;
}

.MessageContFriend{
	max-width: 50%;
	padding: 1%;
	background-color: beige;
	border-radius: 1em 1em 1em 0em;
	float: left;
}

.Time_{
	word-wrap: break-word;
	display: inline-block;
	float: right;
	width: 100%;
	border-bottom: 0.1vw solid rgba(0,0,0,0.4);
}

.MessageWriter{
	word-wrap: break-word;
	display: inline-block;
	float: right;
	width: 100%;
}

.InnerMessage{
	word-wrap: break-word;
	display: inline-block;
	float: right;
	width: 100%;
}

.NameInputCont{
	width: 15%;
	position: absolute;
	bottom: 50%;
	left: 1%;
	display: none;
}

input {
	padding: 2%;
	background-color: black;
	font-size: 0.7em;
	color: white;
	width: 100%;
	margin-top: 2%;
}

.Login{
	display: none;
}

.chooseFriendName{
	display: inline-block;
	position: relative;
	font-size: 1.2em;
	color: white;
	background-color: black;
	padding: 1%;
	margin:2%;
	cursor: pointer;
	transition: 400ms;
}

.chooseFriendName:hover{
	transition: 400ms;
	color: black;
	background-color: white;
}

.Emoji{
	position: relative;
	display: inline-block;
}