html{
	margin: 0;
	height: 100%;
	padding: 0;
	background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

body{
	margin: 0;
	margin: 0;
	height: 100%;
	padding: 0;
	background: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}


.MainThreeBoxCont{
	width:80%;
	height: 95%;
	float: right;
	position: relative;
	display: inline-block;
}

.OwnerBox{
	height: 90%;
	width: 49.5%;
	display: inline-block;
	position: relative;
	border: 1px solid red;
}

.ReceiverBox{
	height: 90%;
	width: 49.5%;
	display: inline-block;
	position: relative;
	border: 1px solid red;
}




.TextCont{
	text-align: left;
	position: relative;
	display: inline-block;
	height: 10%;
	width: 100%;
}

.MainInputText{
	padding: 1%;
	font-size: 1.5em;
	height: 80%;
	width: 90%;
	display: inline-block;
	position: relative;
	resize: none;
}

#SendIcon{
	  position: absolute;
	  top: 40%;
	  left: 95%;
	  transform: translate(-50%, -50%);
	cursor: pointer;
	color: black;
	transform: scale(3.5,3.5);
	display: inline-block;
	transition: 400ms;
}

#SendIcon:hover{
	color: gray;
	transition: 400ms;
}


.OwnerSingleMessage{
	padding: 2%;
	position: relative;
	display: inline-block;
	bottom: 0;
	float: right;
	background-color: beige;
	font-size: 1.2em;
	border: 1px solid black;
}

.Time_{
	float: right;
	margin-left: 3%;
}

.InnerMessage{
	float: right;
}